<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mywechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/App_Name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWechat">
        <activity
            android:name=".contact.ContactSettingActivity"
            android:label="@string/ContactSettingActivity_Title"/>
        <activity
            android:name=".ui.me.myprofile.change.WhatsUpChangeActivity"
            android:label="@string/WhatsUpChangeActivity_Title" />
        <activity
            android:name=".ui.me.myprofile.change.RegionChangeActivity"
            android:label="@string/RegionChangeActivity_Title" />
        <activity
            android:name=".ui.me.myprofile.change.GenderChangeActivity"
            android:label="@string/GenderChangeActivity_Title" />
        <activity
            android:name=".ui.me.myprofile.change.IDChangeActivity"
            android:label="@string/IDChangeActivity_Title" />
        <activity
            android:name=".ui.me.myprofile.change.NicknameChangeActivity"
            android:label="@string/NicknameChangeActivity_Title" />
        <activity
            android:name=".ui.me.myprofile.change.ProfileChangeActivity"
            android:label="@string/ProfileChangeActivity_Title" />
        <activity
            android:name=".ui.me.myprofile.MyprofileActivity"
            android:label="@string/MyprofileActivity_Title" />
        <activity
            android:name=".ui.contacts.groups.GroupsActivity"
            android:label="@string/GroupsActivity_Title" />
        <activity
            android:name=".ui.contacts.newfriend.NewfriendActivity"
            android:label="@string/NewfriendActivity_Title" />
        <activity
            android:name=".contact.ContactActivity"
            android:label="@string/ContactActivity_Title" />
        <activity
            android:name=".MainActivity"
            android:label="@string/MainActivity_Title">
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/App_Name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>